body {
  font-family: Sans-serif;
/*   background: #f06d06; */
/*   background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/d9d7ad104360973.5f6142500e188.png"); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/299/291/non_2x/seamless-pattern-with-white-stars-and-constellations-black-and-white-space-repeat-background-vector.jpg");
  color: white;
  text-align: center;
  font-size: 2rem;
}
p {
  font-family: Brush Script MT;
  background-color: rgba(25, 28, 36, 0.7);
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
